:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: inherit;
}

li {
  list-style: none;
}

/* Consolida los estilos de botones */
.btn-sm, .btn-action, .btn-pill-primary, .btn-pill-secondary {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
  color: white;
  font-weight: bold;
  border: none; /* Si no necesitas bordes en los botones */
}

/* Ajusta el padding de los botones */
.btn-pill-primary, .btn-pill-secondary {
  padding: 10px 20px;
}

/* Establece colores de fondo para botones primarios y secundarios */
.btn-pill-primary {
  background-color: #006FB3;
}

.btn-pill-secondary {
  background-color: #FE6565;
}

/* Añade efectos de hover para botones */
.btn-pill-primary:hover, .btn-pill-secondary:hover {
  opacity: 0.9;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

/* Estilos de la tarjeta */
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-body {
  padding: 20px;
}

.card-title {
  margin-bottom: 15px;
}

/* Estilos para botones primarios y secundarios */
.btn-primary, .btn-secondary {
  background-color: #007bff; /* Ajusta según tu paleta de colores */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  white-space: nowrap;
  min-width: 10%;
}

/* Agrega margen y padding a la barra de búsqueda */
.search-bar {
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 40%;
  background-color: white;
  color: black;
}
